.post-wrapper {
    width:550px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 2px;
}

.post {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 0;
    border: 0px solid #ddd;
}

.post-header {
    display: flex;
    align-items: center;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f8f9fa;
}

.profile-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
    border: 2px solid #ddd;
}

.profile-name {
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    color: #333;
    margin-right: auto;
}

.dropdown {
    margin-left: auto;
}

.dropdown .btn:hover,
.dropdown .btn:focus {
    background-color: rgb(186, 170, 170);
}
.dropdown-item {
    color: #333;
    display: block;
    padding: 10px 20px;
    font-size: 14px;

}

.post-body {
    text-align: left;
    padding-bottom:20px;
}

.post-image-container {
    position: relative;
    display: inline-block;
    width: 100%;
}

.post-image {
    width:100%;
}

.post-text {
    position: absolute;
    width: auto;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    text-align: center;
    background-color: white;
    color: black;
    padding: 0 10px;
}