.container {
    max-width:70%;
    margin: 20px auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  table{
    margin-top: 30px;
    margin-left:15px;
    font-size:medium;
  }
  tr.td{
    font-family: sans-serif;
  }
  tr:nth-child(even) {
    background-color:rgb(208, 231, 241);
  }
h2 {
    text-align: center;
    margin-bottom: 20px;
  }

.btn-search {
display: flex;
float: right;
  gap: 80px;
  }

  .modal-body input[type="text"],
.modal-body input[type="date"] {
  width: 550px;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ced4da;
  border-radius: 4px;
}
  
  